*{
    margin:0;
    padding:0;
}


li{
    text-decoration: none;
    font-family: verdana;
    font-size: 30px;
    color:white;
    font-weight: bolder;
}

ul li a{
    color:black;
    text-decoration: none;
    }


.navbar{
    text-decoration: none;
    padding:20px;
    float:left;
    position:absolute;
}
 
ul li{
    padding:20px;
    color:white;
    display: inline-block;
    padding-right: 60px;
} 
.container{
    padding:120px;
    text-align: center;
}

.container img{
    border-radius: 50%;
    height:500px;
}

p{
    font-size: 30px;
    text-align: center;
    padding:30px;
}



h2,h1,h4{
    text-align:center;
    font-size:40px;
}

h3{
    font-size: 25px;
}


#about{
    padding-top: 30px;
}


.table{
    text-align:-webkit-center;
    font-size: 30px;
    border-spacing: 30px;
    padding:40px;
}

table,th,td{
    border:3px solid black;
    border-collapse:collapse;
    margin:30px;
    background-color: blue;
}

th{
  text-align: center;
  margin:20px;
  padding:10px
}


td{
    padding: 30px;
    margin:10px;
    font-weight: bolder
}